.cart {
    position: fixed;
    right: 0px;
    top: 0px;
    width: auto;
    height: 50px;
    border-bottom-left-radius: 5px;
    z-index: 1;
}

.cart > * {
    float: left;
}

.cart > .icon {
    margin-left: 17px;
    font-size: 36px;
    margin-top: 5px;
}

.cart > .text {
    margin-top: 13px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.cart > .amount {
    margin-top: 9px;
    margin-right: 20px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.cart > .price {
    margin-top: 9px;
    margin-right: 20px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

[data-cart-details] .options .title {
    font-weight: bold !important;
}

[data-cart-details] hr {
    width: 958px;
}

[data-cart-details] .options .title span {
    display: block;
    font-size: 17px;
    font-weight: normal;
    max-width: 272px;
    max-height: 28px;
    overflow: hidden;
}

[data-cart-details] .cart-container {
    margin-left: 20px;
    margin-top: 20px;
    width: 1000px;
    height: 496px;
    overflow-y: scroll;
    overflow-x: hidden;
}

[data-cart-details] .cart-container .table {
    margin-left: 0px;
    width: 963px;
}

[data-cart-details] .cart-container .table .controls {
    width: 100px;
    font-size: 30px;
}

[data-cart-details] .cart-container .table .controls span:first-child {
    margin-right: 11px;
}

[data-cart-thanks] .modal-dialog {
    width: 600px !important;
}

[data-cart-thanks] .modal-content {
    height: 300px !important;
}

[data-cart-thanks] .message {
    text-align: center;
    line-height: 46px;
    font-size: 24px;
}