.main-menu {
    height: 50%;
    display: table;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.main-menu.item6 {
    width: 41%;
}

.main-menu.item6 > .item {
    float: left;
    width: 33.3333%;
    height: 50%;
}

.main-menu.item6 > .item > .title {
    padding-top: 10px;
    padding-bottom: 20px;
}

.main-menu.item3, .main-menu.item4, .main-menu.item5 {
    width: 95%;
}

.main-menu.item2 {
    width: 66.33333%;
}

.main-menu.item1 {
    width: 32.33333%;
}

.main-menu > .item {
    display: table-cell;
    vertical-align: middle;
}

.main-menu > .item > img {
    -webkit-filter: invert(0.1);
    border-radius: 50%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
}

.main-menu > .item > .title {
    padding-top: 20px;
    text-align: center;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}