.menu-show {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 40px;
    z-index: 10;
    width: 80px;
    height: 80px;
}

.menu-show .span {
    display: block;
    top: 20px;
    left: 20px;
    position: absolute;
}

[data-container-menu] .menu {
    position: absolute;
    top: 0;
    transform: translate(-300px, 0px);
    width: 300px;
    height: 100%;
    z-index: 11;
    opacity: 0.8;
}

[data-container-menu] .menu .menu-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[data-container-menu] .menu .menu-wrapper .menu-close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 40px;
    z-index: 11;
}

.menu .items {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.menu .items .item {
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu .items .item:first-child {
    margin-top: 60px;
}

.menu .items .item .image {

    width: 120px;
    height: 120px;
    -webkit-filter: invert(0.1);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu .items .item .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.menu-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    display: none;
}