
.products {
    height: 300px;
    width: 900px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.products .item {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}

.products .item > .image {
    -webkit-filter: invert(0.1);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.products .item > .title {
    padding-top: 20px;
    text-align: center;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    letter-spacing: 2px;
}

.products.sub-menu {
    width: 1000px;
    height: 520px;
    margin-top: 30px;
    overflow: hidden;
}

.products.sub-menu .item {
    margin-bottom: 40px;
    width: 225px;
    height: 225px;
}

.products .image .block {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.products .image .block .backdrop {
    height: 71px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0.8;
    bottom: 0px;
}

.products .image .block .price {
    width: 100%;
    text-align: center;
    height: 30px;
    font-weight: bold;
    font-size: 1.4em;
    z-index: 2;
    position: absolute;
    bottom: 36px;
    left: 0px;
}

.products .image .block .weight {
    width: 100%;
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 12px;
}

.products .image .plus {
    position: absolute;
    right: -11px;
    top: 17px;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    font-size: 17px;
    z-index: 2;
}

[data-product-details] .modal-dialog {
    width: 1100px;
    letter-spacing: 2px;
}

[data-product-details] .modal-content {
    height: 700px;
}

[data-product-details] .modal-body {
    border-radius: 5px;
    border: 0;
    border-top-style: solid;
    border-top-width: 4px;
    height: 100%;
}

[data-product-details] .close {
    font-size: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
    opacity: 1;
}

[data-product-details] .image {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 30px;
    top: 15px;
}

[data-product-details] .table {
    display: table;
    width: 850px;
    margin-left: 130px;
    height: 100px;
}

[data-product-details] .table .row {
    margin-left: 100px;
    margin-right: 35px;
    display: table-row;
}

[data-product-details] .table .row > div {
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
}

[data-product-details] .table .row > div:last-child {
    text-align: right;
    opacity: 0.8;
}

[data-product-details] .table .row .title {
    width: 300px;
    padding-left: 15px;
    font-size: 20px;
    opacity: 0.8;
}

[data-product-details] .table .row .amount {
    opacity: 0.8;
    width: 1%;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
}

[data-product-details] .table .row .minus {
    text-align: right;
    font-size: 35px;
    width: 100px;
}

[data-product-details] .table .row .plus {
    text-align: left;
    font-size: 35px;
}

[data-product-details] .table .row .price-per-one {
    width: 110px;
    text-align: right;
    opacity: 0.8;
}

[data-product-details] .control-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

[data-product-details] hr {
    border-top: 4px solid;
    margin: 0;
    opacity: 0.1;
    margin-bottom: 20px;
}

[data-product-details] .line {
    padding-left: 15px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    margin-left: 130px;
}

[data-product-details] .table.options {
    height: 40px;
}

[data-product-details] .table.options .title {
    font-weight: normal;
}

[data-product-details] .table.total {
    height: 48px;
    position: absolute;
    bottom: 79px;
}

[data-product-details] .table.total .row > div {
    font-size: 32px;
}

[data-product-details] input {
    padding: 5px;
    border: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    text-transform: uppercase;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

    position: absolute;
    right: 94px;
    bottom: 30px;
}

hr.cart-footer {
    position: absolute;
    bottom: 140px;
    left: 0px;
    width: 100%;
}

.product-description {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 0px;
    background: transparent;
}

.product-description .product-description-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 4px;
    position: relative;
    width: 400px;
    height: 128px;
    opacity: 0;
    z-index: 2;
    left: 102px;
    top: 14px;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}


.product-description .product-description-content i {
    position: absolute;
    bottom: -30px;
    font-size: 50px;
    color: white;
    z-index: 1;
    left: 185px;
}

.product-description .product-description-content div {
    overflow: scroll;
    height: 95px;
    padding-right: 20px;
}