html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

body .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    -webkit-filter: blur(2px) brightness(0.8);
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.swiper-pagination-bullet {
    background-color: transparent;
}

[data-section],
[data-company],
[data-product],
[data-sub-section],
[data-section-header],
[data-product-header]
{
    opacity: 0;
}

input[type=button] {
    outline: none;
}

.liqpay_loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    padding-top: 23%;
    font-size: 4em;
    display: none;
}

#liqpay_widget_popup_iframe {
    max-height: 80% !important;
    overflow: auto !important;
}