<div class="modal fade" data-cart-details="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" data-stylized="true" data-border-color="brand">
                <div class="close" data-dismiss="modal" data-stylized="true" data-color="brand"><span class="fa fa-close"></span></div>

                <div data-cart-content="true"></div>

                <input type="button" data-add-to-cart="true" class="button" data-stylized="true" data-background-color="brand" data-color="background" value="наличный расчет">

            </div>
        </div>
    </div>
</div>