<style>
    [data-stylized][data-background-color=brand] {
        background-color: <%= styles.brand %>;
    }

    [data-stylized][data-background-color=foreground] {
        background-color: <%= styles.foreground %>;
    }

    [data-stylized][data-background-color=background] {
        background-color: <%= styles.background %>;
    }

    [data-stylized][data-border-color=brand] {
        border-color: <%= styles.brand %>;
    }

    [data-stylized][data-border-color=foreground] {
        border-color: <%= styles.foreground %>;
    }

    [data-stylized][data-border-color=background] {
        border-color: <%= styles.background %>;
    }

    [data-stylized][data-color=brand] {
        color: <%= styles.brand %>;
    }

    [data-stylized][data-color=foreground] {
        color: <%= styles.foreground %>;
    }

    [data-stylized][data-color=background] {
        color: <%= styles.background %>;
    }

</style>