<div class="modal fade" data-call-waiter="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" data-stylized="true" data-border-color="brand">
                <div class="message">

                    <b data-stylized="true" data-color="brand">Спасибо!</b> <br>
                    Официант подойдет к Вам в ближайшее время.

                </div>

                <input type="button" data-dismiss="modal" class="button" data-stylized="true" data-background-color="brand" data-color="background" value="OK">

            </div>
        </div>
    </div>
</div>