<div class="cart animated bounceIn" data-cart="true" data-stylized="true" data-background-color="brand">
    <i data-stylized="true" data-color="background" class="fa fa-shopping-cart icon"></i>
    <div data-stylized="true" data-color="background" class="text" data-card="true">Корзина</div>

    <% if (amount > 0) { %>

        <div data-stylized="true" data-color="brand" data-background-color="background" class="amount"><%= amount %> шт.</div>
        <div data-stylized="true" data-color="brand" data-background-color="background" class="price"><%= price %> грн.</div>
    <% } %>

</div>