<div class="background-image"></div>

<div class="cart" data-stylized="true" data-background-color="brand">
    <i data-stylized="true" data-color="background" class="fa fa-shopping-cart icon"></i>
    <div data-stylized="true" data-color="background" class="text" data-card="true">Корзина</div>
    <div data-stylized="true" data-color="brand" data-background-color="background" class="amount">2</div>
</div>

<div data-container-menu="true"></div>

<div data-container="main">

    <div class="company">
        <div class="logo" data-stylized="true" data-color="brand">Smart Bar</div>
        <hr class="line" data-stylized="true" data-border-color="background" />
        <div class="slogan" data-stylized="true" data-color="background">сеть кафе для всей семьи</div>
    </div>

    <div class="main-menu item<%= sections.length %>">

        <% for (var i=0; i<sections.length; i++) { %>

        <div class="item" data-section="true" data-index="<%= i %>">
            <div class="image" data-stylized="true" data-border-color="background" style="background-image: url(<%= sections[i].image.url %>)"></div>
            <div data-stylized="true" data-color="background" class="title"><%= sections[i].title %></div>
        </div>

        <% } %>

    </div>

</div>

<div class="footer">
    <input type="button" class="button" data-stylized="true" data-background-color="brand" data-color="background" value="Вызов официанта">
    <input type="button" class="button" data-stylized="true" data-background-color="brand" data-color="background" value="Вызов такси">
</div>