<div data-styles="true"></div>

<div class="background-image"></div>

<div data-cart-holder="true"></div>

<div data-container-menu="true"></div>

<div data-container="main"></div>

<div class="footer">
    <input type="button" class="button" data-call-waiter="true" data-stylized="true" data-background-color="brand" data-color="background" value="Вызов официанта">
    <input type="button" class="button" data-call-taxi="true" data-stylized="true" data-background-color="brand" data-color="background" value="Вызов такси">
</div>