<div class="menu" data-stylized="true" data-background-color="foreground">

    <div class="menu-wrapper">

        <div data-menu-logo="true" class="menu-logo" style="background-image: url(<%= style.company.logo.url %>)"></div>

        <div class="items" data-swiper="true" data-amount="3">

            <% if (sections.length) { %>
                <% for (var i=0; i<sections.length; i++) { %>

                    <div class="item" data-main-section="true" data-index="<%= i %>">
                        <div class="image" style="background-image: url(<%= sections[i].image.url %>)"></div>
                        <div data-stylized="true" data-color="background" class="title"><%= sections[i].title %></div>
                    </div>

                <% } %>
            <% } %>

        </div>

    </div>

</div>