<div class="modal fade" data-modal-message="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" data-stylized="true" data-border-color="brand">

                <div class="message">

                    <b data-stylized="true" data-color="brand"><%= header %></b> <br>

                    <%= message %>

                </div>

                <input type="button" data-dismiss="modal" class="button" data-stylized="true" data-background-color="brand" data-color="background" value="OK">

            </div>
        </div>
    </div>
</div>