<style>
    [data-stylized][data-background-color=brand] {
        background-color: <%= colors.brand %>;
    }

    [data-stylized][data-background-color=foreground] {
        background-color: <%= colors.foreground %>;
    }

    [data-stylized][data-background-color=background] {
        background-color: <%= colors.background %>;
    }

    [data-stylized][data-border-color=brand] {
        border-color: <%= colors.brand %>;
    }

    [data-stylized][data-border-color=foreground] {
        border-color: <%= colors.foreground %>;
    }

    [data-stylized][data-border-color=background] {
        border-color: <%= colors.background %>;
    }

    [data-stylized][data-color=brand] {
        color: <%= colors.brand %>;
    }

    [data-stylized][data-color=foreground] {
        color: <%= colors.foreground %>;
    }

    [data-stylized][data-color=background] {
        color: <%= colors.background %>;
    }

    [data-module=layout] > .background-image {
        background-image: url(<%= backgroundImage.url %>);
    }

    .swiper-pagination-bullet {
        border-color: <%= colors.brand %>;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: <%= colors.brand %>;
    }

    .company > [data-logo] {
        background-image: url(<%= company.logo.url %>);;
    }

    .modal-backdrop {
        background-color: <%= colors.foreground %>;
    }

</style>