<div class="section-header" data-section-header="true">
    <div class="logo" data-stylized="true" data-color="background"><%= section.title %></div>
    <hr class="line" data-stylized="true" data-border-color="background" />
</div>

<div class="main-menu sub-menu">

    <div class="swiper-container">

        <div class="swiper-wrapper">

            <% var index = 0; for (var i=0; i<sections.length; i++) { %>

                <div class="swiper-slide">

                    <% for (var j=0; j<sections[i].length; j++) { %>

                        <div class="item" data-sub-section="true" data-index="<%= index %>">
                            <div class="image" data-stylized="true" data-border-color="background" style="background-image: url(<%= sections[i][j].image.url %>)"></div>
                            <div data-stylized="true" data-color="background" class="title"><%= sections[i][j].title %></div>
                        </div>

                    <% index++; } %>

                </div>

            <% } %>

        </div>

        <% if (sections.length > 1) { %>
            <div class="swiper-pagination"></div>
        <% } %>
    </div>
</div>