<div class="main-menu item1">
    <!--<div class="item">-->
    <!--<img src="img/p1.jpg" />-->
    <!--<div data-stylized="true" data-color="background" class="title">Бар</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="img/p1.jpg" />-->
    <!--<div data-stylized="true" data-color="background" class="title">Бар</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="img/p1.jpg" />-->
    <!--<div data-stylized="true" data-color="background" class="title">Бар</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="img/p1.jpg" />-->
    <!--<div data-stylized="true" data-color="background" class="title">Бар</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<img src="img/p1.jpg" />-->
    <!--<div data-stylized="true" data-color="background" class="title">Бар</div>-->
    <!--</div>-->
    <!--<div class="item">-->
        <!--<img src="img/p1.jpg" />-->
        <!--<div data-stylized="true" data-color="background" class="title">Бар</div>-->
    <!--</div>-->
</div>