<div class="company">
    <div class="logo" data-stylized="true" data-color="brand">Smart Bar</div>
    <hr class="line" data-stylized="true" data-border-color="background" />
    <div class="slogan" data-stylized="true" data-color="background">сеть кафе для всей семьи</div>
</div>

<div class="main-menu item<%= sections.length %>">

    <% for (var i=0; i<sections.length; i++) { %>

        <div class="item" data-section="true" data-index="<%= i %>">
            <div class="image" style="background-image: url(<%= sections[i].image.url %>)"></div>
            <div data-stylized="true" data-color="background" class="title"><%= sections[i].title %></div>
        </div>

    <% } %>

</div>