<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-product-description="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-body product-description" data-stylized="true" data-border-color="brand">

                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <% product.images.forEach(function(index, image){ %>
                            <div class="swiper-slide product-image"
                                 style="background-image: url(<%= index.url %>)">
                            </div>
                        <% }); %>

                    </div>

                    <% if (product.images.length > 1) { %>
                        <div class="swiper-pagination"></div>
                    <% } %>

                </div>

                <div class="product-description-content"
                     data-stylized="true"
                     data-border-color="foreground"
                     data-background-color="background">

                    <div class="title" data-stylized="true" data-color="brand">
                        <%= product.title %> (<%= product.weight %> г.)
                        <b><%= product.price %> грн.</b>
                    </div>
                    <div class="description" data-stylized="true" data-color="brand"><%= product.description %></div>

                    <div class="close" data-dismiss="modal" data-stylized="true" data-color="brand"><span class="fa fa-close"></span></div>

                    <input type="button" class="button" data-plus="true" data-index="<%= productIndex %>" data-stylized="true" data-background-color="brand" data-color="background" value="В корзину" />

                </div>
            </div>
        </div>
    </div>
</div>