<div class="close" data-dismiss="modal" data-stylized="true" data-color="brand"><span class="fa fa-close"></span></div>

<div class="image" style="background-image: url(<%= order.product.images[0].url %>);"></div>

<div class="table" data-stylized="true" data-color="foreground">
    <div class="row">
        <div class="title"><%= order.product.title %></div>
        <div class="price-per-one" data-price-one="true"><%= order.product.price %> грн.</div>
        <div class="minus" data-product-minus="true">
            <span class="fa fa-minus-circle" data-stylized="true" data-color="brand"></span>
        </div>
        <div class="amount"><span data-amount="true"><%= order.amount %></span>&nbsp;шт.</div>
        <div class="plus" data-product-plus="true">
            <span class="fa fa-plus-circle" data-stylized="true" data-color="brand"></span>
        </div>
        <div class="price-total"><span data-price-total="true"><%= order.priceWithoutOptions %></span> грн.</div>
    </div>
</div>

<hr data-stylized="true" data-border-color="foreground" />

<% if (order.product.options.length) { %>

<div class="line">Добавить:</div>

<% for (var i=0; i<order.options.length; i++) { %>

<div class="table options" data-stylized="true" data-color="foreground">
    <div class="row" data-option="true">
        <div class="title"><%= order.options[i].title %></div>
        <div class="price-per-one" data-price-one="true"><%= order.options[i].price %> грн.</div>

        <div class="minus" data-option-minus="true"  data-index="<%= i %>">
            <span class="fa fa-minus-circle" data-stylized="true" data-color="brand"></span>
        </div>
        <div class="amount"><span data-amount="true"><%= order.options[i].amount %></span>&nbsp;шт.</div>

        <div class="plus" data-option-plus="true" data-index="<%= i %>">
            <span class="fa fa-plus-circle" data-stylized="true" data-color="brand"></span>
        </div>
        <div class="price-total"><span data-price-total="true"><%= order.options[i].totalPrice %></span> грн.</div>
    </div>
</div>

<% } %>

<% } %>

<hr class="cart-footer" data-stylized="true" data-border-color="foreground" />

<div class="table total" data-stylized="true" data-color="foreground">
    <div class="row">
        <div class="title">Итого:</div>
        <div class="price-total"><span data-price-total="true"><%= order.priceTotal %></span> грн.</div>
    </div>
</div>

<input type="button" data-add-to-cart="true" class="button" data-stylized="true" data-background-color="brand" data-color="background" value="В корзину">
