<div class="wood"></div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title"><b>Идентификатор устройства</b></h4>

            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="text" data-token="true" class="form-control input-lg text-center" placeholder="PIN-код">
                </div>

            </div>
            <div class="modal-footer">
                <button data-connect="true" class="btn btn-block btn-info btn-lg">
                    <span>Соединить</span>
                    <i class="fa fa-refresh fa-spin"></i>
                </button>
            </div>
        </div>
    </div>
</div>